#### EDITOR ###
pylint
ruff
mypy
django-stubs
pre-commit
pylint-django

### TESTING ###
coverage
pytest
freezegun


### LOCAL ###
madbg
Werkzeug


### PROD ###
Django==5.2.3
djangorestframework==3.16.0
django-extensions==4.1
django-cors-headers==4.7.0
django-structlog==9.1.1

psycopg[binary]==3.2.9
gunicorn==23.0.0
pydantic==2.11.7
structlog-sentry==2.2.1
sentry-sdk==2.30.0
colorama==0.4.6
rich==14.0.0
PyYAML==6.0.2
